$blue: #00c6d5;
$skyBlue: #8fc8d5;
$purple: #5c619e;
$navBarHeight: 60px;
$white: #ffffff;

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  .navbar-start {
    margin: 0 auto;
    padding-top: 10px;
    a {
      font-weight: 700;

      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }
}

p {
  margin-top: 50px;
  text-align: center;
  line-height: 28px;
}

li {
  font-style: italic;
}

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.smaller-width-container {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.image {
  max-width: 70%;
  margin: 35px auto;
}

.source {
  font-size: 70%;
}

.title-first {
  font-weight: 700;
}

.title-second {
  font-style: italic;
}

.font-white {
  color: $white;
}

.purple-section {
  background-color: $purple;
  margin-top: 20px;

  li {
    color: #ffffff;
  }
}

.blue-section {
  background-color: $skyBlue;
  margin: 20px inherit;
  padding-bottom: 55px;
}

.blue-btn {
  background-color: $blue;
  color: #ffffff;
  font-weight: 600;
  border: 1px solid darken($color: $blue, $amount: 5);

  &:hover {
    color: darken($color: $blue, $amount: 20);
    border: 1px solid darken($color: $blue, $amount: 20);
  }
}

.mb40 {
  margin-bottom: 40px;
}

.list-large-spacing {
  li:not(:last-child) {
    margin-bottom: 40px;
  }
}

.list-large-spacing-left {
  margin-left: 25%;

  li:not(:last-child) {
    margin-bottom: 40px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navBarHeight;
  transition: transform 1s ease-out;

  .navbar-start a:not(:last-child) {
    margin-right: 107px;
  }
}

.navbar.is-hidden {
  transform: translateY(-100%);
}

.first-section {
  margin-top: $navBarHeight + 10;

  .title-first {
    font-family: 'Open Sans', sans-serif;
    color: $blue;
    font-weight: 400 !important;
    font-size: 120%;
  }

  .title-second {
    font-family: 'Tangerine', cursive;
    color: $purple;
    font-weight: 400 !important;
    font-size: 270%;
  }

  .is-hidden-mobile {
    margin-top: 260px;

    .title-first-lg {
      @extend .title-first;
      font-size: 220%;
    }

    .title-second-lg {
      @extend .title-second;
      font-size: 550%;
    }
  }

  .title-shorting-top-margin {
    margin-top: 150px !important;
  }
}

.unique-service {
  margin: 100px auto;
  // text-align: justify;
}

.source {
  color: #333333;
}

.very-lucrative {
  p {
    color: $white;

    &:first-child {
      margin-top: 5px;
    }
  }

  .list-large-spacing-left {
    margin-left: 39%;
  }
}

.big-numbers {
  @extend .font-white;

  div {
    width: 20%;
    float: left;
    margin-bottom: 40px;

    .the-number {
      font-family: 'Niramit', sans-serif;
      font-size: 400%;
      text-align: center;
    }

    &:first-child {
      margin-left: 11%;
    }
  }
}

.boxes {
  margin-top: 15px;
  a {
    color: #333333;
    border-radius: 4px;
    padding: 20px;
    float: left;
    width: 30%;
    border: 1px solid $white;

    &:first-child {
      margin-left: 19%;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid darken($color: $skyBlue, $amount: 10);
    }

    i {
      font-size: 450%;
    }
  }
}

.book-meeting {
  margin: 100px auto;
}

footer {
  background-color: $purple;

  ul {
    li {
      display: inline-block;
      vertical-align: top;

      &:not(:last-child) {
        padding-right: 10px;
      }

      .fas,
      .fab {
        margin-top: 10px;
        font-size: 200%;
      }
    }
  }

  .fa-phone-square,
  .fa-instagram,
  .fa-envelope-square,
  .fa-facebook-square {
    color: $white;
  }

  .subtitle {
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 75%;
    color: $white;
  }
}

@media only screen and (max-width: 800px) {
  .list-large-spacing-left {
    margin: auto !important;
  }

  .boxes {
    a {
      width: 45%;

      &:first-child {
        margin-left: 5%;
      }
    }
  }

  .big-numbers {
    div {
      width: 100%;
      float: none;
      margin: 0 auto 40px !important;
    }
  }
}

@media only screen and (min-width: 801px) {
  section {
    // width: 960px;
  }
}

// contact
.form-container {
  margin-top: 35px;
  max-width: 40%;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
  }

  .submit {
    .control {
      text-align: center;

      input {
        text-align: center;
      }

      .button {
        @extend .blue-btn;
      }
    }
  }
}

.contact-info {
  margin-top: 50px;

  a {
    color: #333333;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.contact-us {
  margin-top: 80px;
}

@media only screen and (max-width: 800px) {
  .form-container {
    max-width: 100%;
  }

  .contact-info {
    margin: 50px auto;
    text-align: center;
  }
}

// about
.about-big-title {
  margin: 100px auto;

  .title-first {
    font-family: 'Open Sans', sans-serif;
    color: $blue;
    font-weight: 400 !important;
    font-size: 190%;
  }

  .title-second {
    font-family: 'Tangerine', cursive;
    color: $purple;
    font-weight: 400 !important;
    font-size: 435%;
  }

  .is-size-6 {
    margin-top: 0;
  }
}