$blue: #00c6d5;
$purple: #5c619e;
$navBarHeight: 60px;

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin-top: 50px;
  text-align: center;
  line-height: 28px;
}

li {
  font-style: italic;
}

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.image {
  max-width: 70%;
  margin: 15px auto;
}

.source {
  font-size: 70%;
}

.title-first {
  font-family: 'Open Sans', sans-serif;
  color: $blue;
  font-weight: 400 !important;
  font-size: 120%;
}

.title-second {
  font-family: 'Tangerine', cursive;
  color: $purple;
  font-weight: 400 !important;
  font-size: 270%;
}

.purple-section {
  background-color: lighten($color: $purple, $amount: 31);
  margin-top: 20px;
}

.blue-section {
  background-color: lighten($color: $blue, $amount: 40);
  margin: 20px inherit;
  padding-bottom: 55px;
}

.blue-btn {
  background-color: $blue;
  color: #ffffff;
  border: 1px solid darken($color: $blue, $amount: 10);

  &:hover {
    color: #eeeeee;
  }
}

.mb40 {
  margin-bottom: 40px;
}

.list-large-spacing {
  li:not(:last-child) {
    margin-bottom: 40px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navBarHeight;
  transition: transform 1s ease-out;
}

.navbar.is-hidden {
  transform: translateY(-100%);
}

.first-section {
  margin-top: $navBarHeight + 10;

  .title-first-lg {
    @extend .title-first;
    font-size: 180%;
  }

  .title-second-lg {
    @extend .title-second;
    font-size: 370%;
  }
}

.big-numbers {
  div {
    width: 18%;
    float: left;

    .the-number {
      font-family: 'Niramit', sans-serif;
      font-size: 400%;
      text-align: center;
    }

    &:first-child {
      margin-left: 15%;
    }
  }
}

.boxes {
  margin-top: 15px;
  div {
    border-radius: 4px;
    padding: 10px;
    float: left;
    width: 30%;
    border: 1px solid lighten($color: $blue, $amount: 40);

    &:first-child {
      margin-left: 20%;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid darken($color: $blue, $amount: 5);
    }

    i {
      font-size: 450%;
    }
  }
}

.contact-us {
  ul {
    li {
      display: inline-block;
      vertical-align: top;

      &:not(:last-child) {
        padding-right: 10px;
      }

      .fas,
      .fab {
        margin-top: 10px;
        font-size: 200%;
      }

      .fa-phone-square,
      .fa-instagram {
        color: $purple;
      }

      .fa-envelope-square,
      .fa-facebook-square {
        color: $blue;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .big-numbers {
    div {
      width: 100%;
      float: none;
      margin: 0 auto !important;
    }
  }
}